version: "3.9"

services:
  db:
    image: mysql:8.0.45-debian
    restart: always
    environment:
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
      MYSQL_DATABASE: table-reservation
      MYSQL_ROOT_PASSWORD: admin123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: python run.py
    ports:
      - "5000:5000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  mysql_data:
