name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    name: "Build and push"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - run: python --version

      - name: Generate Tag
        id: generate_tag
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}          

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.dev
          push: true
          tags: |
            gabrielmvb2003/table-reservation-ci-api:${{ steps.generate_tag.outputs.sha }}
            gabrielmvb2003/table-reservation-ci-api:latest